In [36]:
import numpy as np
import pandas as pd
import glob
import os
import seaborn as sns
import matplotlib.pyplot as plt
import surprise
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import Reader, Dataset
from surprise import KNNBasic

In [74]:
dodge = pd.read_csv('review/Scraped_Car_Review_dodge.csv', engine='python')
ferrari = pd.read_csv('review/Scraped_Car_Review_ferrari.csv', engine='python')
fiat = pd.read_csv('review/Scraped_Car_Review_fiat.csv', engine='python')
ford = pd.read_csv('review/Scraped_Car_Review_ford.csv', engine='python')
genesis = pd.read_csv('review/Scraped_Car_Review_genesis.csv', engine='python')
hummer = pd.read_csv('review/Scraped_Car_Review_hummer.csv', engine='python')
hyundai = pd.read_csv('review/Scraped_Car_Review_hyundai.csv', engine='python')
infiniti = pd.read_csv('review/Scraped_Car_Review_infiniti.csv', engine='python')
hyundai = pd.read_csv('review/Scraped_Car_Review_hyundai.csv', engine='python')
infiniti = pd.read_csv('review/Scraped_Car_Review_infiniti.csv', engine='python')
isuzu = pd.read_csv('review/Scraped_Car_Review_isuzu.csv', engine='python')
jaguar = pd.read_csv('review/Scraped_Car_Review_jaguar.csv', engine='python')
jeep = pd.read_csv('review/Scraped_Car_Review_jeep.csv', engine='python')
kia = pd.read_csv('review/Scraped_Car_Review_kia.csv', engine='python')
lamborghini = pd.read_csv('review/Scraped_Car_Review_lamborghini.csv', engine='python')
land_rover = pd.read_csv('review/Scraped_Car_Review_land-rover.csv', engine='python')
lexus = pd.read_csv('review/Scraped_Car_Review_lexus.csv', engine='python')
lincoln = pd.read_csv('review/Scraped_Car_Review_lincoln.csv', engine='python')
lotus = pd.read_csv('review/Scraped_Car_Review_lotus.csv', engine='python')
maserati = pd.read_csv('review/Scraped_Car_Review_maserati.csv', engine='python')
maybach = pd.read_csv('review/Scraped_Car_Review_maybach.csv', engine='python')
mazda = pd.read_csv('review/Scraped_Car_Review_mazda.csv', engine='python')
mclaren = pd.read_csv('review/Scraped_Car_Review_mclaren.csv', engine='python')
mercedes_benz = pd.read_csv('review/Scraped_Car_Review_mercedes-benz.csv', engine='python')
mercury = pd.read_csv('review/Scraped_Car_Review_mercury.csv', engine='python')
mini = pd.read_csv('review/Scraped_Car_Review_mini.csv', engine='python')
mitsubishi = pd.read_csv('review/Scraped_Car_Review_mitsubishi.csv', engine='python')
nissan = pd.read_csv('review/Scraped_Car_Review_nissan.csv', engine='python')
pontiac = pd.read_csv('review/Scraped_Car_Review_pontiac.csv', engine='python')
porsche = pd.read_csv('review/Scraped_Car_Review_porsche.csv', engine='python')
ram = pd.read_csv('review/Scraped_Car_Review_ram.csv', engine='python')
rolls_royce = pd.read_csv('review/Scraped_Car_Review_rolls-royce.csv', engine='python')
subaru = pd.read_csv('review/Scraped_Car_Review_subaru.csv', engine='python')
suzuki = pd.read_csv('review/Scraped_Car_Review_suzuki.csv', engine='python')
tesla = pd.read_csv('review/Scraped_Car_Review_tesla.csv', engine='python')
volvo = pd.read_csv('review/Scraped_Car_Review_volvo.csv', engine='python')
bugatti = pd.read_csv('review/Scrapped_Car_Review_Bugatti.csv', engine='python')
buick = pd.read_csv('review/Scrapped_Car_Review_Buick.csv', engine='python')
cadillac = pd.read_csv('review/Scrapped_Car_Review_Cadillac.csv', engine='python')
chevrolet = pd.read_csv('review/Scrapped_Car_Review_Chevrolet.csv', engine='python')
chrysler = pd.read_csv('review/Scrapped_Car_Review_chrysler.csv', engine='python')
acura = pd.read_csv('review/Scrapped_Car_Reviews_Acura.csv', engine='python')
alfa_romeo = pd.read_csv('review/Scrapped_Car_Reviews_AlfaRomeo.csv', engine='python')
am_general = pd.read_csv('review/Scrapped_Car_Reviews_AMGeneral.csv', engine='python')
aston_martin = pd.read_csv('review/Scrapped_Car_Reviews_AstonMartin.csv', engine='python')
audi = pd.read_csv('review/Scrapped_Car_Reviews_Audi.csv', engine='python')
bentley = pd.read_csv('review/Scrapped_Car_Reviews_Bentley.csv', engine='python')
bmw = pd.read_csv('review/Scrapped_Car_Reviews_BMW.csv', engine='python')
gmc = pd.read_csv('review/Scrapped_Car_Reviews_GMC.csv', engine='python')
honda = pd.read_csv('review/Scrapped_Car_Reviews_Honda.csv', engine='python')
toyota = pd.read_csv('review/Scrapped_Car_Reviews_Toyota.csv', engine='python')
volkswagen = pd.read_csv('review/Scrapped_Car_Reviews_Volkswagen.csv', engine='python')

# # merging the files
# joined_files = os.path.join("review/", "Scraped_Car_Review_*.csv")
  
# # A list of all joined files is returned
# joined_list = glob.glob(joined_files)
  
# # Finally, the files are joined
# df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
# print(df)

df = pd.concat([dodge,ferrari,fiat,ford,genesis,hummer,hyundai,infiniti,hyundai,infiniti,isuzu,jaguar,
               jeep,kia,lamborghini,land_rover,lexus,lincoln,lotus,maserati,maybach,mazda,mclaren,mercedes_benz,
               mercury,mini,mitsubishi,nissan,pontiac,porsche,ram,rolls_royce,subaru,suzuki,tesla,volvo,
               bugatti,buick,cadillac,chevrolet,chrysler,acura,alfa_romeo,am_general,aston_martin,audi,bentley,
               bmw,gmc,honda,toyota,volkswagen])
# df
# df.to_csv(r'review\car_reviews.csv')

In [103]:
data = pd.read_csv('car_reviews.csv', engine='python')
data.isnull().sum()

Unnamed: 0.1         0
Unnamed: 0         349
Review_Date      47918
Author_Name      59883
Vehicle_Title    59882
Review_Title     59895
Review           59882
Rating           71846
dtype: int64

In [104]:
data

,Unnamed: 0.1,Unnamed: 0,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating
0,0,0,on 10/13/05 15:30 PM (PDT),roadking,2002 Dodge Ram Cargo Van 1500 3dr Van (3.9L 6c...,Great delivery vehicle,It's been a great delivery vehicle for my caf...,4.625
1,1,1,on 07/17/05 21:59 PM (PDT),Mark,2002 Dodge Ram Cargo Van 3500 3dr Ext Van (5.2...,Disappointmnet,Bought this car as a commuter vehicle for a v...,2.125
2,2,2,on 07/16/02 00:00 AM (PDT),Tom Sheer,2002 Dodge Ram Cargo Van 3500 Maxi 3dr Ext Van...,Sweet van,"This van rocks its the best, lots of \rroom. ...",5.000
3,3,3,on 12/29/07 21:57 PM (PST),Keven Smith,2001 Dodge Ram Cargo Van 2500 Maxi 3dr Ext Van...,Keven Smith,Great work vehicle. Drives nice. has lots of ...,4.500
4,4,4,on 02/09/05 18:52 PM (PST),VanMan,2001 Dodge Ram Cargo Van 1500 3dr Van (3.9L 6c...,Not what Dodge used to be,Good solid frame and suspension. Well equipp...,2.875
...,...,...,...,...,...,...,...,...
299341,11354,9381,on 02/06/16 03:49 AM (PST),Bill Haberlin,2016 Volkswagen Tiguan SUV S 4dr SUV (2.0L 4cy...,Good Value,I have owned the Tiguan for a year and 4 mont...,4.000
299342,11355,9382,on 02/04/16 05:42 AM (PST),BN,2016 Volkswagen Tiguan SUV S 4dr SUV (2.0L 4cy...,Great Ride - But Typical VW,"Now had 2+ months with SUV. Nice SUV, handle...",3.000
299343,11356,9383,on 01/05/16 00:40 AM (PST),Jason,2016 Volkswagen Tiguan SUV SE 4dr SUV (2.0L 4c...,Quality Over Quantity,Smaller dimensions and my driving experience ...,5.000
299344,11357,9384,on 11/11/15 19:49 PM (PST),Bill,2016 Volkswagen Tiguan SUV S 4dr SUV (2.0L 4cy...,"Not too big, not too small",We have had our 2016 Tiguan for a month. Prio...,4.000
299345,11358,9385,on 10/22/15 17:04 PM (PDT),Paul,2016 Volkswagen Tiguan SUV S 4dr SUV (2.0L 4cy...,Good pick for its class,The Tiguan S can be had for a reasonable 24k ...,4.000

In [108]:
#remove unuse columns
data.drop(columns=['Unnamed: 0.1','Unnamed: 0','Review_Date','Review_Title','Review'], inplace = True)

#remove null Vehicle_Title data
data.dropna( subset = [ 'Vehicle_Title' ], inplace = True )

#replace null values of Rating with 0
data.fillna(value = 0, inplace = True)

data.isnull().sum()

data

,Author_Name,Vehicle_Title,Rating
0,roadking,2002 Dodge Ram Cargo Van 1500 3dr Van (3.9L 6c...,4.625
1,Mark,2002 Dodge Ram Cargo Van 3500 3dr Ext Van (5.2...,2.125
2,Tom Sheer,2002 Dodge Ram Cargo Van 3500 Maxi 3dr Ext Van...,5.000
3,Keven Smith,2001 Dodge Ram Cargo Van 2500 Maxi 3dr Ext Van...,4.500
4,VanMan,2001 Dodge Ram Cargo Van 1500 3dr Van (3.9L 6c...,2.875
...,...,...,...
299341,Bill Haberlin,2016 Volkswagen Tiguan SUV S 4dr SUV (2.0L 4cy...,4.000
299342,BN,2016 Volkswagen Tiguan SUV S 4dr SUV (2.0L 4cy...,3.000
299343,Jason,2016 Volkswagen Tiguan SUV SE 4dr SUV (2.0L 4c...,5.000
299344,Bill,2016 Volkswagen Tiguan SUV S 4dr SUV (2.0L 4cy...,4.000
299345,Paul,2016 Volkswagen Tiguan SUV S 4dr SUV (2.0L 4cy...,4.000